.mud-snackbar {
    transform: translateY(-33px) !important; 
}


.new-line-select {
    display: block;
    width: 100%;
}

.width-150 {
    width: 200px;
}

.width-200 {
    width: 200px;
}
.width-600 {
    width: 600px;
}

.width-full{
    width: 100% !important;
}
.stack-full {
    width: 100% !important;
}

.sub-nav-item {
    color: #ff0000 !important; /* Red text for sub-menu items */
}

.mud-tab {
    text-transform: none !important; 
    justify-content: flex-start !important; 
    text-align: left !important; 
    }



.mud-tabs-panels.mud-tabs-vertical {
    overflow-x: auto !important;
    overflow-y: auto !important;
    max-height: calc(100vh - 200px);
    width:100%;
}

.mud-tabs-tabbar-inner {
    max-height: calc(100vh - 200px);
}
.mud-table-container{
    max-height: calc(100% - 120px);
}

.full-data-grid {
    width: 100% !important;
    max-width: 100% !important;
    display: block !important;
}

.full-data-grid .mud-table-container {
    width: 100% !important;
    max-width: 100% !important;
    max-height: calc(100% - 120px);
}