.mud-snackbar {
    transform: translateY(-33px) !important; 
}


.new-line-select {
    display: block;
    width: 100%;
}

.width-150 {
    width: 200px;
}

.width-200 {
    width: 200px;
}
.width-600 {
    width: 600px;
}

.sub-nav-item {
    color: #ff0000 !important; /* Red text for sub-menu items */
}

.mud-tab {
    text-transform: none !important; 
    justify-content: flex-start !important; 
    text-align: left !important; 
    }

.content-container {
    max-height: 80vh; /* Limit height to 80% of viewport height */
    padding-bottom:40px;
    padding-right:15px;
    width:100%;
    overflow-y: auto; /* Enable vertical scrolling */

}
