<div class="limit-dropdown-con">
    <RadzenDropDown @ref="limitDropDown" TValue="string" Change="OnChangeEvent" SelectedItemsText="250"
                    Data=@Limits />
</div>

@code {
    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    public List<string> Limits;

    RadzenDropDown<string> limitDropDown;

    protected void OnChangeEvent()
    {
        OnChange.InvokeAsync(limitDropDown.SelectedItem.ToString());
    }

    protected override void OnInitialized()
    {
        Limits = new List<string> { "25", "100", "250", "500", "1000", "5000", "All" };
    }
}
