@inherits LayoutComponentBase
@inject ToemsApiService apiService
@inject UserState state

<div class="page">
    <div class="sidebar">
        <ComputerNav Id="@ID" />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <UserStatus />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    public string ID { get; set; }

    protected override void OnParametersSet()
    {
        // pull out the "ID" parameter from the route data
        object id = null;
        if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("Id", out id) == true)
        {
            ID = id?.ToString();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        await state.SetAccessToken();
    }
}
