.rz-panel-menu .rz-navigation-item-icon {
    -webkit-font-smoothing: antialiased;
    font-family: icomoon,Flaticon;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    left: 0;
    width: 40px;
    speak: none;
    text-indent: 0;
    top: 0px;
}

.sidebar {
    border-bottom: 0;
    float: left;
    background: #2b2b2b !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 65px;
    border-right: 1px solid #252424;
}
