<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="..\..\..\Program Files\dotnet\dotnet.exe" arguments="&quot;C:\Users\dolnyj\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\5.0.3\build\../tools/blazor-devserver.dll&quot; serve --applicationpath &quot;C:\Development\Toems\ToemsUI.Client\bin\Release\net5.0\ToemsUI.Client.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>