.mud-snackbar {
    transform: translateY(-33px) !important; 
}


.new-line-select {
    display: block;
    width: 100%;
}

.width-150 {
    width: 200px;
}

.width-200 {
    width: 200px;
}
.width-600 {
    width: 600px;
}

.width-full{
    width: 100% !important;
}
.stack-full {
    width: 100% !important;
}

.sub-nav-item {
    color: #ff0000 !important; /* Red text for sub-menu items */
}

.mud-tab {
    text-transform: none !important; 
    justify-content: flex-start !important; 
    text-align: left !important; 
    }


.mud-tabs-panels.mud-tabs-vertical {
    overflow-x: auto !important;
    overflow-y: auto !important;
    height: calc(100vh - 170px);
    width:100%;
}

.mud-tabs-vertical.mud-tabs-tabbar-inner {
    max-height: calc(100vh - 170px);
   width:170px;
}

.mud-tabs-vertical .mud-tab {
    max-width: 170px;
    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.mud-table-container{
    max-height: calc(100% - 120px);
}

.mud-tabs-vertical .sub-tab {
    margin-left: 10px;
    border-left:1px solid #ccc;
}

.active-tab {
    background-color: var(--mud-palette-primary-hover) !important;
    color: var(--mud-palette-text-white) !important;
}

.sub-tab.mud-paper-outlined {
    border:none !important;
}
.sub-tab-header{
    background-color: var(--mud-palette-gray-light) !important;
}

.full-data-grid .mud-table-container {
    width: 100% !important;
    max-width: 100% !important;
    max-height: calc(100% - 120px);
}


.full-data-grid-with-tabs .mud-table-container {
    width: 100% !important;
    max-width: 100% !important;
    max-height: calc(100vh - 390px) !important;
}

.responsive-title {
    
    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

.table-header{
    background-color: var(--mud-palette-background-gray) !important;
}

.mud-table-toolbar {
    border-bottom: 3px solid var(--mud-palette-primary);
}

/*data grid select all checkbox background color*/
.mud-table-sticky-header * .mud-table-root .mud-table-head * .mud-table-cell:first-child {
    background-color: var(--mud-palette-background-gray);
}
.mud-table-sticky-header * .mud-table-root .mud-table-head * .mud-table-cell {
    background-color: var(--mud-palette-background-gray);
}
.mud-tabs-panels.mud-tabs-vertical {
    background-color: var(--mud-palette-gray-light);
}

.mud-input-label {
    color: #810000 !important; /* Replace with your desired color, e.g., orange (#ff5722) */
}

.ace_editor{
    height: calc(100vh - 250px) !important;
}

@media screen and (max-width: 1280px) {
    .stack-full {
        width: 100% !important;
        height: calc(100vh - 210px) !important;
        overflow-y: auto !important;
    }

    .full-data-grid-with-tabs .mud-table-container {
        width: 100% !important;
        max-width: 100% !important;
        max-height: calc(100vh - 400px) !important;
    }
}

@media screen and (max-width: 960px) {
    .stack-full {
        width: 100% !important;
        height: calc(100vh - 250px) !important;
        overflow-y: auto !important;
    }

    .full-data-grid-with-tabs .mud-table-container {
        width: 100% !important;
        max-width: 100% !important;
        max-height: calc(100vh - 440px) !important;
    }
}



@media screen and (min-width: 1280px) {
    .lg-max-width-700{
        max-width: 700px !important;
    }
}
